.form-title.fs-21 {
    border-bottom: 1px solid #e1e1e1;
    padding: 5px 0;
    line-height: 29px;
    margin-bottom: 25px;
    color: #555;
}
#register select,
#register input {
	height: 34px !important;
	font-size: 13px !important;
	padding: 6px 12px;
}
#register .inner {
	border-right: 1px dotted #b6b6b6;
    display: table-cell;
    vertical-align: middle;
}
#register .Reg_or {
	background: #ddd;
    border-radius: 100%;
    height: 26px;
    width: 26px;
    line-height: 26px;
    display: inline-block;
    text-align: center;
    margin-right: -13px;
}
.social-column  {
	display: table-cell;
    vertical-align: middle;
}
.note {
	font-style: italic;
    color: #999;
    display: block;
    margin-top: 7px;
    font-size: 12px;
    padding-bottom: 10px;
}
.loginBtn {
	cursor: pointer;
    border: 0 none;
    color: #fff;
    display: block;
    height: 42px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    line-height: 15px;
    padding-top: 13px;   
}
.loginBtn-facebook {
	background: #2c4889;
}
.loginBtn-google {
	background: #d83b24;
}
.social-column a:hover {
	color: #fff;
    text-decoration: none;
}
.txt-rq {
	color: red;
}
.position-left {
	float: left;
}

