﻿@using Shop.Common.Models
@using Chatbox.Web.Resources

@model  List<Shop.Common.Models.User>
@{
    ViewBag.Title = "Index";
}

<style>
    #content {
        padding: 30px;
    }
    input[type=text] {
        margin-bottom: 10px;
        width: 130px;
        height: 40px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-image: url('~/images/searchicon.png');
        background-position: 10px 8px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

        input[type=text]:focus {
            width: 100%;
        }

    .container-ds .search-ds {
        width: 100%;
        height: 40px;
        color: rgba(0,0,0,0.54);
        font-weight: bold;
    }

    table {
        table-layout: fixed;
    }

    td, th {
        text-align: center;
    }



    td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .form-group {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
</style>
<div id="content">
        <div class="dt-toolbar">
            <div class="search-ds">
                <form>
                    <input type="text"
                           (keyup)="applyFilter($event.target.value)"
                           [formControl]="searchControl"
                           name="search" placeholder="Tìm kiếm cán bộ ">
                </form>
            </div>
        </div>
        <div class="table-responsive col-xs-12">
            <div class="row">
                <form action="@Url.Action("EditLabel", "Label" , new { siteId = Request["siteId"] })" method="post" class="form-horizontal" enctype="multipart/form-data" id="myform">

                    <table class="table table-bordered table-striped table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tên </th>
                                <th>Mật khẩu</th>
                                <th>Email</th>
                                <th>Số điện thoại</th>
                                <th>Địa chỉ</th>
                                <th>Ngày tạo</th>
                                <th>Chức năng</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{ var idx = 0;}
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    idx++;
                                    <tr>
                                        <td>@idx</td>
                                        <td>
                                            <span class="display-mode"> @item.UserName</span>
                                            <input type="text" value="@item.UserName" name="name" class="edit-mode" style="display:none" />
                                        </td>
                                        <td>
                                            <span class="display-mode">@item.PassWord</span>
                                            <input type="text" value="@item.PassWord" name="value" class="edit-mode" style="display:none" />
                                        </td>
                                        <td>
                                            <span class="display-mode">@item.Email</span>
                                            <input type="text" value="@item.Email" name="value" class="edit-mode" style="display:none" />
                                        </td>
                                        <td>
                                            <span class="display-mode">@item.Phone</span>
                                            <input type="text" value="@item.Phone" name="value" class="edit-mode" style="display:none" />
                                        </td>
                                        <td>
                                            <span class="display-mode">@item.DiaChi</span>
                                            <input type="text" value="@item.DiaChi" name="value" class="edit-mode" style="display:none" />
                                        </td>
                                        <td> @item.DateCreate </td>
                                        <td class="text-align-center">
                                            <a onclick="document.getElementById('myform').submit()" data-toggle='tooltip' title="Lưu">
                                                <span class="save-user edit-mode"> <i class="fa initialism fa-save"> </i> </span>
                                            </a>
                                            &nbsp;
                                            <a data-toggle='tooltip' title="Sửa">
                                                <span class="edit-user display-mode"> <i class="fa initialism fa-pencil"> </i> </span>
                                            </a>
                                            &nbsp;
                                            <a href="@Url.Action("DeleteLabel", new  {siteId = Request["siteId"] })" class="btn-delete" data-toggle='tooltip' title="Xóa">
                                                <span class="display-mode"> <i class="fa fa-trash-o"> </i> </span>
                                            </a>
                                            &nbsp;
                                            <a data-toggle='tooltip' title="Hủy">
                                                <span class="cancel-user edit-mode"> <i class="fa initialism fa-times"> </i> </span>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr><td colspan="6" halgin="center" class="text-align-center">@Html.Raw("Không có dữ liệu")</td></tr>
                            }
                        </tbody>
                    </table>
                </form>
            </div>
    </div>
</div>
@section pagespecific {
    <script>
        $(document).ready(function () {
            $(function () {
                $('.edit-mode').hide();
                $('.edit-user, .cancel-user').on('click',
                    function () {
                        var tr = $(this).parents('tr:first');
                        tr.find('.edit-mode, .display-mode').toggle();
                    });
                $('.save-user').on('click',
                    function () {
                        var tr = $(this).parents('tr:first');
                        var name = tr.find("#Name").val();
                        tr.find("#Name").text(name);
                        tr.find('.edit-mode, .display-mode').toggle();
                    });
            });
            $(".btn-delete").click(function (e) {
                console.log("a");
                    var redirectUrl = $(this).attr("href");
                    $.SmartMessageBox({
                        title: "Cảnh báo",
                        content: "Baạn có chăc chăn muốn xoóa bản  ghi này không",
                        buttons: '[@Html.Raw("Không")][@Html.Raw("Có")]'
                    }, function (buttonPressed) {
                        if (buttonPressed === "@Html.Raw("Có")") {
                            location.href = redirectUrl;
                        }
                        if (buttonPressed === "@Html.Raw("Không")") {
                            return;
                        }

                    });
                    e.preventDefault();
                });
            });
    </script>
}
