.block-title {
	border-bottom: 3px solid #43c0e4;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 10px;
    padding-top: 10px;
}
.block-title > a {
	background: #fff;
    padding: 6px 6px 7px 0;
    color: #333;
    display: inline-block;
}
.glyphicon { margin-right:5px; }
.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail .list-group-image {
	height: 230px;
}
.list-group-item-heading {
	font-size: 16px;
    font-weight: normal;
    margin-top: 5px;
}
.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover {
    background: #428bca;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}
.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}
.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}
.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}
.item.list-group-item img {
    float: left;
}
.item.list-group-item:after {
    clear: both;
}
.list-group-item-text {
    margin: 0 0 11px;
}
