.heading {
	margin: 0;
    padding: 7px 15px 5px;
}
.cat-link a, .child-categories li a  {
	padding: 0px 15px;
    display: block;
    margin: 0;
    color: #337ab7;
}
.child-categories {
	padding: 0;
    margin: 0;
    list-style: none;
}
.cat-desc {
	margin: 0;
    padding: 10px 15px;
}
.filter-option:before {
	content: "\f10c";
}
.filter-attribute-option:before, .filter-option:before {
	font-family: FontAwesome;
}
.name-item-tag {
	display: inline-block;
}
.name-item-tag+.name-item-tag::before {
	content: "|";
    color: gray;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 11px;
    line-height: 1em;
}