html, body {
    margin: 0;
    height: 100%;
}
body {
	background-color: #fff !important;
}
hr {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}
.ca {
	 display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.btn:hover {
	color: #fff;
    opacity: 0.8;
}
.breadcrumb>.active {
	color: #777;
}
.breadcrumb {
    border-radius: 0;
    border: none;
    font-size: 13px;
    padding: 8px 0;
    list-style: none;
    background-color: #FFF !important;
}
.breadcrumb>li, .pagination {
    display: inline-block;
}
.breadcrumb>li+li:before {
	padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}
.ca-home:before {
	content: "\f015";
}

.vertical-top {
	vertical-align: top;
}
.vertical-middle {
	vertical-align: middle;
}
.vertical-bottom {
	vertical-align: bottom;
}

.black {
	color: #000 !important;
}
.red {
	color: red !important;
}
.white {
	color: white !important;
}

.italic {
	font-style: italic;
}

.border {
	border: 1px solid #e1e1e1;
}
.border-right {
	border-right: 1px solid #e1e1e1;
}
.background-gray {
	background: #f5f5f5;
}
.padding-0 {
	padding: 0px;
}
.padding-left-0 {
	padding-left: 0px;
} 
.padding-right-0 {
	padding-right: 0px;
}
.padding-top-0 {
	padding-top: 0px;
}
.padding-bottom-0 {
	padding-bottom: 0px;
}
.padding-5 {
	padding: 5px;
}
.padding-left-5 {
	padding-left: 5px;
} 
.padding-right-5 {
	padding-right: 5px;
}
.padding-top-5 {
	padding-top: 5px;
}
.padding-bottom-5 {
	padding-bottom: 5px;
}
.padding-10 {
	padding: 10px;
}
.padding-left-10 {
	padding-left: 10px;
} 
.padding-right-10 {
	padding-right: 10px;
}
.padding-top-10 {
	padding-top: 10px;
}
.padding-bottom-10 {
	padding-bottom: 10px;
}
.padding-15 {
	padding: 15px;
}
.padding-left-15 {
	padding-left: 15px;
} 
.padding-right-15 {
	padding-right: 15px;
}
.padding-top-15 {
	padding-top: 15px;
}
.padding-bottom-15 {
	padding-bottom: 15px;
}
.margin-10 {
	margin: 10px;
}
.margin-left-10 {
	margin-left: 10px;
}
.margin-right-10 {
	margin-right: 10px;
}
.margin-top-10 {
	margin-top: 10px;
}
.margin-bottom-10 {
	margin-bottom: 10px;
}

.margin-20 {
	margin: 20px;
}
.margin-left-20 {
	margin-left: 20px;
}
.margin-right-20 {
	margin-right: 20px;
}
.margin-top-20 {
	margin-top: 20px;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}

.float-left {
	float: left;
}
.float-right {
	float: right;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-through {
	text-decoration: line-through;
}
.font-8 {
	font-size: 8px;
}
.font-9 {
	font-size: 9px;
}
.font-10 {
	font-size: 10px;
}
.font-11 {
	font-size: 11px;
}
.font-12 {
	font-size: 12px;
}
.font-14 {
	font-size: 14px !important;
}
.font-15 {
	font-size: 15px !important;
}
.font-16 {
	font-size: 16px !important;
}
.font-17 {
	font-size: 17px;
}
.heading-title {
	text-transform: uppercase;
}
.red {
	color: red;
}

/* Style Css radio*/

.radio {
    padding-left: 20px;
}

.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px;
}

.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out;
}

.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
    opacity: 0;
}

.radio input[type="radio"]:focus+label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.radio input[type="radio"]:checked+label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.radio input[type="radio"]:disabled+label {
    opacity: 0.65;
}

.radio input[type="radio"]:disabled+label::before {
    cursor: not-allowed;
}

.radio.radio-inline {
    margin-top: 0;
}

.radio-primary input[type="radio"]+label::after {
    background-color: #428bca;
}

.radio-primary input[type="radio"]:checked+label::before {
    border-color: #428bca;
}

.radio-primary input[type="radio"]:checked+label::after {
    background-color: #428bca;
}

.radio-danger input[type="radio"]+label::after {
    background-color: #d9534f;
}

.radio-danger input[type="radio"]:checked+label::before {
    border-color: #d9534f;
}

.radio-danger input[type="radio"]:checked+label::after {
    background-color: #d9534f;
}

.radio-info input[type="radio"]+label::after {
    background-color: #5bc0de;
}

.radio-info input[type="radio"]:checked+label::before {
    border-color: #5bc0de;
}

.radio-info input[type="radio"]:checked+label::after {
    background-color: #5bc0de;
}

.radio-warning input[type="radio"]+label::after {
    background-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked+label::before {
    border-color: #f0ad4e;
}

.radio-warning input[type="radio"]:checked+label::after {
    background-color: #f0ad4e;
}

.radio-success input[type="radio"]+label::after {
    background-color: #5cb85c;
}

.radio-success input[type="radio"]:checked+label::before {
    border-color: #5cb85c;
}

.radio-success input[type="radio"]:checked+label::after {
    background-color: #5cb85c;
}


/* End style radio*/


/*Style Page Menu*/

body {
    font-family: "Meiryo UI", sans-serif;
    font-size: 12px;
    color: #000000;
    background-color: #d8d8d8;
}

h3 {
    font-size: 20px;
}

.nav_menu .form-group {
    margin-bottom: 0px;
    font-size: 12px;
}

.nav_menu .form-control {
    font-size: 12px;
    
    width: 75%;
}


/*
    Style Category
*/
.radio-menu {
    padding-left: 60px;
}

.show-checkbox .checkbox {
    margin-top: 0px;
}

.menu-list-form>li a {
    padding: 0px;
    width: 70px;
}

.menu-show-table {
    width: 54%;
}

.datetime-show {
    width: 46%;
}

.table-condensed {
    border: none;
}

.control-label {
    padding: 0px;
    margin-bottom: 0px;
}

.category-main {
    border: 1px solid black;
    padding-top: 15px;
    padding-bottom: 15px;
}


.text-header-table-right {
    padding-top: 5px;
}

.text-header-table-right .control-label {
    padding-top: 5px;
}

.text-header-table-button {
    padding-left: 10px;
}

.thead-row-1 {
    color: #037F7F;
}

.thead-row-2 {
    color: #2525F3;
}

.table-scroll {
    background-color: white;
}

.text-time-period {
    padding: 8px 0 0 0;
}

.category-row-3 .control-label {
    padding-top: 6px !important;
}

.breadcrumb-title {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    border-bottom-right-radius: 80px 20px;
    border-top-right-radius: 80px 20px;
    width: 40%;
}

.breadcrumb-class {
    padding-top: 6px;
}

.show-time-header {
    padding-top: 6px;
}

.count-line-table {
    border: 1px solid black;
    margin-top: 10px;
}
.text-right {
	text-align: right !important;
}
.text-left {
	text-align: left !important;
}
.text-center {
	text-align: center !important;
}
.font-12 {
	font-size:12px !important;
}
.font-18 {
	font-size: 18px
}
.font-24 {
	font-size: 24px !important;
}
.font-10 {
	font-size: 10px !important;
}
.font-8 {
	font-size: 8px !important;
}
.text-underline {
	text-decoration: underline !important;
}
.no-padding {
	padding: 0 !important;
}
.padding-top-0 {
	padding-top:0px !important;
}
.padding-bottom-0 {
	padding-top:0px !important;
}
.padding-left-0 {
	padding-left:0px !important;
}
.padding-right-0 {
	padding-right:0px !important;
}
.padding-5 {
	padding:5px !important;
}
.padding-top-5 {
	padding-top:5px !important;
}
.padding-bottom-5 {
	padding-top:5px !important;
}
.padding-left-5 {
	padding-left:5px !important;
}
.padding-right-5 {
	padding-right:5px !important;
}
.padding-10{
	padding:10px !important;
}
.padding-top-10 {
	padding-top:10px !important;
}
.padding-bottom-10 {
	padding-bottom:10px !important;
}
.padding-left-10 {
	padding-left:10px !important;
}
.padding-right-10 {
	padding-right:10px !important;
}
.padding-15{
	padding:15px !important;
}
.padding-top-15 {
	padding-top:15px !important;
}
.padding-bottom-15 {
	padding-top:15px !important;
}
.padding-left-15 {
	padding-left:15px !important;
}
.padding-right-15 {
	padding-right:15px !important;
}
.padding-20{
	padding:20px !important;
}
.padding-top-20 {
	padding-top:20px !important;
}
.padding-bottom-20 {
	padding-bottom:20px !important;
}
.padding-left-20 {
	padding-left:20px !important;
}
.padding-right-20 {
	padding-right:20px !important;
}
.no-margin {
	margin: 0 !important;
}
.margin-top-0 {
	margin-top: 0px !important;
}
.margin-bottom-0 {
	margin-bottom: 0px !important;
}
.margin-right-0 {
	margin-right: 0px !important;
}
.margin-left-0 {
	margin-left: 0px !important;
}
.margin-5 {
	margin: 5px !important;
}
.margin-top-5 {
	margin-top: 5px !important;
}
.margin-bottom-5 {
	margin-bottom: 5px !important;
}
.margin-left-5 {
	margin-left: 5px !important;
}
.margin-right-5 {
	margin-right: 5px !important;
}
.margin-10 {
	margin: 10px !important;
}
.margin-top-10 {
	margin-top: 10px !important;
}
.margin-bottom-10 {
	margin-bottom: 10px !important;
}
.margin-top-10 {
	margin-top: 10px !important;
}
.margin-left-10 {
	margin-left: 10px !important;
}
.margin-right-10 {
	margin-right: 10px !important;
}
.margin-15 {
	margin: 15px !important;
}
.margin-top-15 {
	margin-top: 15px !important;
}
.margin-bottom-15 {
	margin-bottom: 15px !important;
}
.margin-top-15 {
	margin-top: 15px !important;
}
.margin-left-15 {
	margin-left: 15px !important;
}
.margin-right-15 {
	margin-right: 15px !important;
}
.margin-20 {
	margin: 20px !important;
}
.margin-top-20 {
	margin-top: 20px !important;
}
.margin-bottom-20 {
	margin-bottom: 20px !important;
}
.margin-top-20 {
	margin-top: 20px !important;
}
.margin-left-20 {
	margin-left: 20px !important;
}
.margin-right-20 {
	margin-right: 20px !important;
}
.no-border {
	border: none !important;
}
.bg-gray-light {
	background: #efefef
}
.pull-left {
	float: left !important;
}
.pull-right {
	float: right !important;
}
.rowfix {
	margin-left: -10px;
	margin-right: -10px;	
}
.rowfix:after {
	clear:both;
	display: table;
    content: " ";
}
.blue {
	color: blue;
}
.red {
	color: red;
}
.black {
	color: black;
}
.green {
	color : rgb(0, 128, 0);
}
.gray {
	color : rgb(175,175,175);
}
.bg-red {
	background: red;
}
.dark-green {
	color: #008080;
}
.font-8 {
	font-size:8px;
}
.font-10 {
	font-size:10px;
}
.font-12 {
	font-size:12px;
}
.font-14 {
	font-size:14px;
}
.font-15 {
	font-size:15px;
}
.font-16 {
	font-size:16px;
}
.font-18 {
	font-size:18px;
}
.font-22 {
	font-size:22px;
}


.btn-group-vertical>.btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after{
	clear: both;
}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
	display: table;
    content: " ";
}