.table-header-fixed table {
	border-collapse: collapse;
    border: 1px solid black;
}

.table-scroll table {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-collapse: collapse;
}
 
.table-scroll table tr td {
	border-right: 1px solid black;
	border-bottom: 1px solid black;
    white-space: normal;
    word-break: break-all;
    height: 25px;
}

.table-header-fixed table tr th {
	background: #cfcfcf;
	white-space: nowrap;
	text-align: center;
	height: 25px;
}

.table-scroll table tr td button {
	width: 100%;
	height: 100%;
}

.table-scroll {
	overflow-y: scroll;
}

.table-scroll table {
	border-top: none;
	width: 100%;
	table-layout: auto;
}

.table-scroll table tr td {
	min-width: 20px;
	text-align: center;

}

.table-header-fixed {
	overflow-x: hidden;
}

.table-header-fixed table {
	table-layout: fixed;
}

.table-header-fixed table tr th.has-sort button {
	width: 100%;
	height: 100%;
	font-weight: bold;
}

.table-header-fixed table tr th.has-sort button i {
	color: #333;
}

.table-header-fixed table tr th.has-sort button i.fa-sort {
	color: #999;
}

.table-scroll table tr:hover,
.table-scroll table tr:focus,
.table-scroll table tr.odd:hover,
.table-scroll table tr.odd:focus,
.table-scroll table tr.even:hover,
.table-scroll table tr.even:focus,
.table-scroll table tr.odd:hover + tr,
.table-scroll table tr.odd:hover + tr {
	background: blue;
	color: #fff;
}

.table-scroll table tbody tr.item-template{
	display: none;
}

.table-scroll table tr.highlight {
	background: blue;
	color: #fff;
}
.table-scroll table tr.focus {
	background: blue;
	color: #fff;
}


.switch, .today {
	text-align: center;
}

#list-form-table {
	padding-bottom: 10px;
}