/*header-nav*/
.container-fluid{
	height: 28px;
	width: 100%;
	background-color:#f5f5f5;
	border-bottom: 1px solid #eee;
	display: block;
	font-size: 12px
}
.pull-left.header-note {
	display: inline;
	float:left;
	line-height: 28px;
	margin: 0;
}
.header-note i {
	background: #f47921;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: inline-block;
    margin-right: 7px;
}
.header_top a:hover{
	text-decoration: none;
}
.right-header-nav {
	display: inline;
	float:right;
	line-height: 28px;
	margin: 0;
	margin-right:28px;
	font-size: 13px;
}
#header .menu-top li a {
	color: #666;
}
#header .menu-top li a:hover {
	color: #38b5df;
}

/*menu-item*/
.menu-item {
	display: table-cell;
    vertical-align: top;
    padding: 15px 15px 10px;
    cursor: pointer;
}
.menu-item a {
	color: #fff;
}
.menu-item .contentbox, .menu-item .iconbox {
	display: table-cell;
    vertical-align: middle;
}
.menu-item .iconbox span {
	border: 1px solid #1b4a5b;
    color: gray;
    border-radius: 100%;
    vertical-align: middle;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    color: #1b4a5b;
}
.ca-lg {
	font-size: 1.33333333em;
    line-height: .75em;
    vertical-align: -15%;
}
.ca-shopping-basket:before {
	content: "\f291";
}
.menu-item .contentbox {
	padding-left: 15px;
}
.menu-item .contentbox h4 {
	margin: 0;
    padding: 0;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    color: #1b4a5b;
}
.menu-item .contentbox small {
	display: block;
    text-transform: capitalize;
    font-size: 11px;
    color: #1b4a5b;
}
.map-marker .list-showroom {
	position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    z-index: 10;
    width: 250px;
    box-shadow: 0 1px 3px rgba(0,0,0,.15);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.15);
}
.menu-item .contentbox, .menu-item .iconbox {
	display: table-cell;
    vertical-align: middle;
}
.ca-angle-down:before {
	content: "\f107";
}
h4 small i {
	font-size: 1em;
}
.list-showroom li {
	border-top: 1px solid #d1d1d1;
    padding: 10px 15px;
    font-size: 13px;
}

/*main-bar*/
.main-bar{
	background: #43c0e4;
    height: 71px;
    z-index: 999;
    display: block;
}
.header_bottom{
	box-shadow: 0 4px 4px 0 rgba(0,0,0,.1);
	z-index: 100;
	padding-right: 100px;
	padding-left: 100px;
	color: white;
	background-color: #00CCFF; 
	width: 100%;
	height:80px;
}
.dropbtn {
	color: #fff;
    font-size: 19px;
    font-weight: 700;
}
.dropbtn:after {
	font-family: FontAwesome;
    content: "\f0d7";
    float: right;
    margin-right: 10px;
}
/*modal login*/

/****** LOGIN MODAL ******/
.loginmodal-container {
	padding: 30px;
	max-width: 500px;
	width: 100% !important;
	background-color: #F7F7F7;
	margin: 0 auto;
	border-radius: 2px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
	overflow: hidden;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 42px;
  font-size: 15px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-container a {
  text-decoration: none;
  /*color: #666;*/
  font-weight: 400;
  text-align: center;
  display: inline-block;
  /*opacity: 0.6;*/
  transition: opacity ease 0.5s;
} 
.loginmodal-container a:hover {
	color: #fff;
    opacity: 0.8;
}
.login-help{
  font-size: 12px;
}
/*footer*/
footer {
	width: 100%;
    position: inherit;
    top: 0px;
    background: #2a3b4d;
    color: rgba(255,255,255,.5);
}
footer p {
	font-size: 14px;
}
footer small {
	font-size: 11px;
}
footer .contact-info h3 {
	text-transform: uppercase;
	font-size: 13px;
	color: #fff;
}
footer .contact-info p span a{
	color: rgba(255,255,255,.5);
}
.footer-top .hotline {
	float: none;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.footer-top .hotline-label {
	border-bottom: 2px solid #fff;
    color: #fff;
    float: left;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    padding-right: 5px;
    text-transform: uppercase;
}
.footer-top .hotline-number {
	border-bottom: 2px solid #ff0;
    color: #ff0;
    float: left;
    font-size: 22px;
    font-weight: 700;
    line-height: 40px;
    padding-left: 5px;
}
.hotline-number {
	float: left;
    color: #ff0;
    border-bottom: 3px solid #ff0;
    font-size: 22px;
    font-weight: 700;
    padding-left: 5px;
    line-height: 40px;
}
.footer-list-menu a:hover {
	color: #ff0;
}
.footer-list-menu li a {
	display: inline-block;
    padding: 3px 0;
}
#app-download .media-right h3 {
	color: #fff;
    text-transform: uppercase;
}
/*subcribe*/
.subcriber {
	background: #202d3b;
    padding: 10px 0 5px;
    text-align: center;
}
.subcriber div.newsletter {
	margin: 0 auto;
    text-align: center;
    display: inline-block;
    clear: both;
}
.subcriber label {
	display: inline-block;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    margin: 5px 0 0;
}
.subcriber-form input[type=text] {
	background: 0 0;
    padding: 6px 10px;
    font-size: 13px;
    max-width: 340px;
    min-width: 300px;
    border-color: rgba(255,255,255,.3);
}
.subcriber-form input[type=submit] {
	color: #fff;
    border: none;
    background: #2b85c1;
    padding: 10px 25px 9px;
    font-size: 15px;
    line-height: 1em;
    text-transform: uppercase;
    margin-left: -5px;
    border-radius: 0 3px 3px 0;
}
@media (min-width: 768px){
	.form-inline .control-label, .form-inline .form-group {
		margin-bottom: 0;
    	vertical-align: middle;
	}
}
/*footer bottom*/
.hr-line {
	display: block;
    height: 1px;
    background: rgba(255,255,255,.1);
}
.company-copyright {
	text-align: center;
    margin: 0 auto;
    color: #fff;
    font-size: 12px;
    padding: 7px 15px 10px;
}
.inside-key-footer {
	text-align: center;
    padding-bottom: 15px;
    line-height: 1em;
}
.inside-key-footer a {
	color: rgba(255,255,255,.3);
    font-size: 11px;
    padding: 0;
}
.inside-key-footer a+a {
	border-left: 1px solid rgba(255,255,255,.1);
    padding-left: 5px;
    margin-left: 3px;
    font-size: 11px;
}




.list-showroom{
	display: none;
}

.bodyWeb{
	padding-top: 10px
}
body{
 position: relative;
}

.menu-home{
	vertical-align: baseline;
}
li {
	vertical-align: baseline;
	display: inline;
	margin: 5px;
}
ul{
	line-height: 40px;
	vertical-align: baseline;
}
.icon_headerTop{
	padding: 0px;text-align: center;line-height: 4;margin-right: -26px;

}
.headerbt{
	padding-left: 0px;margin-left: -14px;width: 182px;    margin-top: 8px;
}

.header{
	width:100%;display: block;font-size: 12px
}

.inner {
    border-right: 1px dotted #b6b6b6;
    display: table-cell;
    vertical-align: middle;
    height: 559px;
}
.Reg_or{
	margin-right: :10px;
}
.search{
	width: 500px
}
#custom-search-input{
	border: solid 1px #E4E4E4;
	border-radius: 4px;
	background-color: #fff;
}

#custom-search-input input{
	height: 34px;
	border: 0;
	box-shadow: none;
}

#custom-search-input button{
	margin: 2px 0 0 0;
	background: none;
	box-shadow: none;
	border: 0;
	color: #666666;
	padding: 0 8px 0 10px;
	border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
	border: 0;
	box-shadow: none;
	border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
	font-size: 17px;
}
#header_bottom td{
	color: white;
	text-align: center;
}
.link a:hover {
	opacity: 1;
	transition: 0.3s;
	color: white;
}
.link a{opacity: 0.6;
	color:white;
}
h4{
	font-size: 13px;
}
#myCarousel .carousel-caption {
	left:0;
	right:0;
	bottom:0;
	text-align:left;
	padding:5px;
	background:rgba(0,0,0,0.6);
	text-shadow:none;
}

#myCarousel .list-group {
	position:absolute;
	top:0;
	right:0;
}
#myCarousel .list-group-item {
	border-radius:0px;
	cursor:pointer;
}
#myCarousel .list-group .active {
	background-color:#eee;	
}

@media (min-width: 992px) { 
	#myCarousel {padding-right:33.3333%;}
	#myCarousel .carousel-controls {display:none;} 	
}
@media (max-width: 991px) { 
	.carousel-caption p,
	#myCarousel .list-group {display:none;} 
}
.side_bottom{
	width: 80%%;
}
#abc .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
#abc .dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
	display: block;
}
.side_bar{
	display: block;
	float:left;
	width: 22%;
	margin: 0 auto;
	text-align: center;
}
.list_Product{
	margin-top: 25px;

}
.thumbnail :hover{
	opacity: .5;
}
.product_view .modal-dialog{max-width: 600px; width: 80%;}
.pre-cost{text-decoration: line-through; color: #a5a5a5;}
.space-ten{padding: 10px 0;}
.thumbnail button{
	padding: 3px 3px 3px 3px;float: left; margin-left: 10px;"
}
.btn-ground{
	margin-bottom: 13px;
}
.sticky {
	box-shadow: 0 4px 4px 0 rgba(0,0,0,.2);
	position: fixed;
	top: 0;
	width: 100%;
}

.sticky + .bodyWeb {
	padding-top: 102px;
}
.product{
	margin: 2px;
	padding: 7px;width: 185px;
}
.extend{
	width: 100%;
}
.cauhoi a{
	width: 100%;
	height: 52px;
	text-align: left;
	padding-left: 20px;
	margin: 0;
	line-height: 30px;
}
.tintuc a{
	width: 100%;
	height: 66px;
	text-align: left;
	padding-left: 20px;
	margin: 0;
	line-height: 44px;
}
