﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script>
		$(document).ready(function(){
	       	 $('.map-marker').click(function (event) {
		      	$(this).toggleClass("js-hide-content").toggleClass("js-show-content");
		    });
		});

    </script>
</head>
<body>
    <div class="container-fluid">
        <div class="header_top">
            <span class="pull-left header-note">
                <i></i>
                <a href="#">Detoxic chế phẩm diệt ký sinh trùng của Nga 20 viên: Khôi bình luận </a>
                <span class="black italic" title="Khuyến mại bh hết nhỉ">"Khuyến mại bh hết nhỉ"</span>
            </span>
            <ul class="right-header-nav menu-top pull-right">
                <li>
                    <a rel="nofollow" href="tel:0964.898.762" style="color: red;">Khiếu nại, báo lỗi: 0964.898.762</a>
                </li>
                <li class="menu-home"><a href="/"><span class="glyphicon glyphicon-home"></span></a></li>
                <li class="menu-news"><a href="/tin-tuc">Tin tức</a></li>
                <li class="menu-faq"><a rel="nofollow" href="/hoi-dap">FAQ</a></li>
                <li class="menu-faq">
                    <a rel="nofollow" href="register.html">Đăng ký</a>
                </li>
                <li id="QuickLogin">
                    <!-- <a rel="nofollow" href="login.html">Đăng nhập</a> -->
                    <a href="#" data-toggle="modal" data-target="#login-modal">Đăng nhập</a>
                </li>
                <!-- modal login -->
                <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                    <div class="modal-dialog">
                        <div class="loginmodal-container">
                            <h1>Đăng nhập bằng</h1>
                            <form class="form-login margin-top-20">
                                <div class="social-column">
                                    <a class="loginBtn loginBtn-facebook white font-15 padding-right-20" href="#">
                                        <i class="fa fa-facebook-f padding-right-5"></i>Đăng nhập bằng facebook
                                    </a>
                                    <a class="loginBtn loginBtn-google white font-15" href="#">
                                        <i class="fa fa-google-plus padding-right-5"></i>Đăng nhập bằng Google+
                                    </a>
                                </div>
                                <p class="text-center padding-top-5">hoặc</p>
                                <input type="text" name="email" placeholder="Email">
                                <input type="password" name="pass" placeholder="Mật khẩu">
                                <input type="submit" name="login" class="btn btn-primary btn-block" value="Đăng nhập" style="height: 42px">
                            </form>
                            <div class="login-help">
                                <a href="register.html">Đăng kí</a> - <a href="#">Quên mật khẩu?</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end modal login -->
            </ul>
        </div>
    </div>
    <!-- header mid -->
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="logo">
                    <a class="logo-site" href="home.html"><img src="images/home/a.png"></a>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="menu-item">
                        <a rel="dofollow" title="" target="_blank" href="#">
                            <div class="iconbox">
                                <span><i class="fa fa-shopping-basket" aria-hidden="true"></i></span>
                            </div>
                            <div class="contentbox">
                                <h4>
                                    <span>Mua hàng</span>
                                    <small>Cam kết chất lượng</small>
                                </h4>
                            </div>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a rel="dofollow" title="" target="_blank" href="#">
                            <div class="iconbox">
                                <span><i class="fa fa-credit-card" aria-hidden="true"></i></span>
                            </div>
                            <div class="contentbox">
                                <h4>
                                    <span>Thanh toán</span>
                                    <small>Giao hàng &amp; thanh toán tại nhà</small>
                                </h4>
                            </div>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a rel="dofollow" title="" target="_blank" href="#">
                            <div class="iconbox">
                                <span><i class="fa fa-refresh" aria-hidden="true"></i></span>
                            </div>
                            <div class="contentbox">
                                <h4>
                                    <span>Đổi trả hàng</span>
                                    <small>Trong vòng 05 ngày(*)</small>
                                </h4>
                            </div>
                        </a>
                    </div>
                    <div class="menu-item" name="Hệ thống cửa hàng" id="hethongcuahang">
                        <div class="iconbox">
                            <span><i class="fa fa-flag" aria-hidden="true"></i></span>
                        </div>
                        <div class="contentbox map-marker js-hide-content">
                            <h4>
                                <span>Giờ mở cửa</span>
                                <small>Sài Gòn <i class="fa fa-angle-down" aria-hidden="true"></i></small>
                            </h4>
                            <ul class="list-showroom" id="list-showroom">
                                <li>
                                    <a href="#" style="color: #333;text-decoration: none;">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <span class="address-store">Số 62, Yên Đỗ, Phường 1, Bình Thạnh, TP. Hồ Chí Minh</span>
                                        <br>
                                        <span class="time-store">
                                            Mở cửa từ 08h00 - 19h00 các ngày trong tuần<br>
                                            Chủ nhật mở cửa từ 08h00 - 17h00
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- header bottom -->
    <div class="main-bar">
        <div class="header_bottom" id="header_bottom">
            <table style="width: 100%;height: 100%">
                <tr style="">
                    <td style="width: 25%;font-size: 24px; text-align: center;">
                        <div id="abc">
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropbtn">Danh mục sản phẩm</a>
                                <div class="dropdown-content">
                                    <a href="#">Link 1</a>
                                    <a href="#">Link 2</a>
                                    <a href="#">Link 3</a>
                                </div>
                            </li>
                        </div>
                    </td>

                    <td class="search" style="height: 100%;width: 37% ">
                        <table style="width: 100%;height: 100%">
                            <tr>
                                <td colspan="9">
                                    <div id="custom-search-input">
                                        <div class="input-group" style="width: 100%">
                                            <input type="text" class="form-control input" placeholder="Tìm kiếm sản phẩm.." />
                                            <span class="input-group-btn">
                                                <button class="btn btn-info btn-lg" type="button">
                                                    <i class="glyphicon glyphicon-search"></i>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr class="link" style="height: 25px;">
                                <td><a href="#">LG</a></td>
                                <td><a href="#">Iphone</a></td>
                                <td><a href="#">Samsung</a></td>
                                <td><a href="#">Huawei</a></td>
                                <td><a href="#">Sony</a></td>
                                <td><a href="#">Huawei</a></td>
                                <td><a href="#">ViVa</a></td>
                                <td><a href="#">Nokia</a></td>
                                <td><a href="#">Xiaomi</a></td>

                            </tr>

                        </table>
                    </td>
                    <td style="font-size: 17px">

                        Tra cứu đơn hàng
                    </td>
                    <td style="font-size: 17px">
                        Contact
                    </td>
                    <td style="font-size: 17px">

                        <i class="fa fa-shopping-cart" style="font-size: 30px;" title="Giỏ hàng"></i>
                    </td>
                    <td style="font-size: 17px ;text-align:center;">
                        <span><i class="fa fa-user-circle-o" style="font-size: 30px;"></i> </span>My name
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer id="footer">
            <!-- footer top -->
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="contact-info">
                                <h3>SHOWROOM TẠI TP. HỒ CHÍ MINH</h3>
                                <p>Số 62, Yên Đỗ, Phường 1, Bình Thạnh, TP. Hồ Chí Minh</p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="contact-info">
                                <h3>Phương thức thanh toán </h3>
                                <div class="visa-icons">
                                    <img class="padding-right-10 padding-top-5" src="images/home/footer-visa.png" alt="visa" height="46" width="76">
                                    <img class="padding-right-10 padding-top-5" src="images/home/footer-visa.png" alt="visa" height="46" width="76">
                                    <img class="padding-right-10 padding-top-5" src="images/home/footer-visa.png" alt="visa" height="46" width="76">
                                    <img class="padding-right-10 padding-top-5" src="images/home/footer-visa.png" alt="visa" height="46" width="76">
                                    <img class="padding-right-10 padding-top-5" src="images/home/footer-visa.png" alt="visa" height="46" width="76">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="contact-info">
                                <h3>HỖ TRỢ KHÁCH HÀNG</h3>
                                <p class="footer-list-menu">
                                    <span><a rel="nofollow" href="#">Giới thiệu</a></span><br>
                                    <span><a rel="nofollow" href="#">Chính sách đổi trả</a></span><br>
                                    <span><a rel="nofollow" href="#">Hướng dẫn đặt hàng</a></span><br>
                                    <span><a rel="nofollow" href="#">Vận chuyển & Giao nhận</a></span><br>
                                    <span><a rel="nofollow" href="#">Bán hàng cùng chúng tôi</a></span><br>
                                    <span><a rel="nofollow" href="#">Cam kết bảo mật thông tin</a></span><br>
                                    <span><a rel="nofollow" href="#">Cơ chế giải quyết tranh chấp</a></span><br>
                                    <span><a rel="nofollow" href="#">Quy chế hoạt độngn</a></span><br>
                                    <span><a rel="nofollow" href="#">Liên hệ</a></span><br>
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="contact-info">
                                <div class="hotline margin-bottom-10">
                                    <span class="hotline-label" style="min-width: 77px;">Bán sỉ</span>
                                    <a style="min-width: 155px;" rel="nofollow" href="tel:0962.111.300" class="hotline-number">0962.111.300</a><br>
                                </div>
                                <div id="app-download">
                                    <div class="media margin-bottom-10">
                                        <div class="media-left vertical-middle">
                                            <img src="images/home/logo-opencart.png" alt="" height="45" width="45">
                                        </div>
                                        <div class="media-right">
                                            <h3>Siêu thị trực tuyến</h3>
                                            <small>Tải ứng dụng Chiaki</small>
                                        </div>
                                    </div>
                                    <div class="app-download-icon">
                                        <a class="icon icon-appstore-footer" href="https://itunes.apple.com/vn/app/chiaki-si%C3%AAu-th%E1%BB%8B-tr%E1%BB%B1c-tuy%E1%BA%BFn/id1304836406">
                                            <img src="images/home/app-store.png" alt="chiaki-appstore" height="32" width="108">
                                        </a>
                                        <a class="icon icon-googleplay-footer" href="https://play.google.com/store/apps/details?id=vn.megaads.chiaki">
                                            <img src="images/home/play-store.png" alt="chiaki-playstore" height="32" width="108">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- subcribe -->
            <div class="subcriber">
                <div class="newsletter">
                    <form class="form-inline subcriber-form" method="post" action="https://chiaki.vn/dang-ky-nhan-thong-tin">
                        <div class="form-group">
                            <label for="email">Đăng ký nhận Email:</label>
                            <input class="form-control" type="text" name="email" placeholder="Nhập địa chỉ email" autocomplete="off">
                            <input class="btn" type="submit" value="Gửi">
                        </div>
                    </form>
                    <div class="clear"></div>
                </div>
            </div>
            <!-- footer bottom -->
            <div class="footer-bottom">
                <div class="hr-line"></div>
                <div class="container">
                    <div class="company-copyright">
                        Công ty Cổ phần Thương mại Chiaki
                        <br>
                        Số 16 ngõ 181 Trường Chinh, Khương Mai, Thanh Xuân, Hà Nội
                        <br>
                        MST: 0108196083 cấp ngày 23/03/2018
                    </div>
                    <div class="inside-key-footer">
                        <a href="https://chiaki.vn/may-hut-sua-c82">Máy hút sữa</a>
                        <a href="https://chiaki.vn/tui-binh-tru-sua-c97">Túi trữ sữa</a>
                        <a href="https://chiaki.vn/tai-nghe-ba-bau-c95">Tai nghe cho bà bầu</a>
                        <a href="https://chiaki.vn/sua-cho-ba-bau-c73">Sữa cho bà bầu</a>
                        <a href="https://chiaki.vn/noi-em-be-c159">Nôi em bé</a>
                        <a href="https://chiaki.vn/sua-xo-c153">Sữa xo</a>
                        <a href="https://chiaki.vn/vitamin-c-c117">Vitamin C cho bé</a>
                        <a href="https://chiaki.vn/vitamin-d-c115">Vitamin D cho trẻ</a>
                        <a href="https://chiaki.vn/banh-an-dam-c124">Bánh ăn dặm</a>
                        <a href="https://chiaki.vn/binh-sua-wesser-c131">Bình sữa wesser</a>
                        <a href="https://chiaki.vn/binh-sua-chuchu-c135">Bình sữa chuchu</a>
                        <a href="https://chiaki.vn/sua-bau-morinaga">Sữa bầu Morinaga</a>
                        <a href="https://chiaki.vn/dong-ho-citizen-c69">Đồng hồ Citizen</a>
                        <a href="https://chiaki.vn/dong-ho-seiko-c67">Đồng hồ Seiko</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
